:root {
  --branding-color: rgb(236, 170, 0);
  --secondary-color: rgb(10, 38, 64);
  --heading-font-family: "Manrope", serif;
  --default-font-family: "Poppins", sans-serif;
}
.parallax {
  /* The image used */
  background-image: url("/images/background2.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  padding-bottom: 40px;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}
p {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
}
.hero {
  text-align: center;
  padding-bottom: 40px;
  position: relative;
}
.centered {
  position: absolute;
  width: 1000px;
  top: 50%;
  left: 30%;
  transform: translate(-23%, -50%);
}
.centered .logo {
  float: right;
}
.centered .center {
  background: rgba(225, 225, 225, 0.6);
  border-radius: 4px;
}
.hero p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
}
.hero h1 {
  color: var(--secondary-color);
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1;
  font-size: 20px;
  color: var(--secondary-color);
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}
.services {
  text-align: center;
  padding-left: 5px;
}
.text-center {
  color: var(--secondary-color);
}
.reason {
  color: var(--secondary-color);
  text-align: center;
}
.reason .card-head-text {
  font-family: var(--default-font-family);
}
.serv-list {
  margin: auto 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}
.why {
  list-style: none;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}
.row {
  padding: auto 0;
}
.card {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.card-text {
  font-size: 15px;
  font-weight: lighter;
  line-height: 1.4;
  text-align: left;
}
.advisory {
  text-align: center;
}
.advisory .row {
  padding-left: 0;
  padding-right: 40px;
  margin-bottom: 20px;
  font-size: 11px;
}
.advisory .adv-text {
  font-size: 12px;
  text-align: left;
}
.description {
  padding-top: 50px;
}
.description .btn {
  font-size: 13px;
  width: 180px;
  height: 80px;
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: white;
  margin: 10px;
}

.data-bs-title {
  width: 600px;
  height: 300px;
}
.modal-content {
  width: 170%;
  height: 100%;
}
.modal-dialog {
  margin-left: 200px;
}
.modal-body {
  font-size: 13px;
}
.modal-footer .btn {
  height: 50px;
  font-size: 17px;
  background: var(--secondary-color);
}
footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: normal;
}

footer .email-link:hover {
  color: var(--branding-color);
}
footer .map-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: normal;
}
footer .map-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 15.5px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
.address {
  margin-top: 40px;
  margin-bottom: 40px;
}

.blocks {
  background: white;
  text-align: center;
}
.blocks h1 {
  font-family: var(--heading-font-family);
}
.block_1 {
  width: 1200px;
  height: 210px;
  overflow: hidden;
  position: relative;
  margin-left: 53px;
  background: url(/images/0a2640.jpeg);
  background-size: cover;
}
.block_2 {
  position: absolute;
  visibility: hidden;
  left: 1px;
  background: rgba(0, 0, 0, 0.439);
  font-size: 20px;
  color: white;
  width: 1200px;
  height: 210px;
  top: 160px;
}
.block_2 p {
  padding: 50px 0px;
  text-align: left;
  font-size: 12px;
  line-height: 1.3;
  margin: 10px;
  font-weight: normal;
}

.block_1 h1 {
  color: var(--branding-color);
}
.block_1:hover .block_2 {
  visibility: visible;
  transition: 1s;
  -webkit-transition: 1s;
  transform: translatey(-160px);
  -webkit-transform: translatey(-160px);
}
.block_1:hover {
  filter: sepia(50%);
  -webkit-filter: sepia(60%);
  transition: 0.6s;
  -webkit-transition: 0.6s;
}
.tiptool {
  position: fixed;
  padding: 15px;
  border: 2px dashed #b3c9ce;
  border-radius: 4px;
  text-align: center;
  color: #333;
  background: #fff;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 15px;
  }
  .hero h2 {
    display: none;
  }
  .hero h1 {
    font-size: 15px;
  }
  .hero .btn {
    font-size: 15px;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
